@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .form{
        @apply md:shadow-xl w-full mx-auto rounded-xl p-14 my-20
    }

    .form-control{
        @apply flex flex-col gap-y-2
    }

    .input{
        @apply py-3 outline-none px-2 border rounded-lg
    }

    .form-title{
        @apply text-xl md:text-2xl text-center mb-7 font-bold text-black-100
    }

    .btn{
        @apply w-full py-3 rounded-lg active:scale-95 duration-150 text-white
    }

    .btn-primary{
        @apply bg-gradient-to-r from-secondary to-primary
    }

    .gradient{
        @apply bg-gradient-to-r from-secondary to-primary
    }

    .error{
        @apply text-error text-sm mt-1
    }
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
}

textarea::-webkit-scrollbar {
    display: none;
}

textarea {
    -ms-overflow-style: none;
    scrollbar-width: none;
    resize: none;
}

input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }